@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.root {
    --cavalo1From: 0%;
    --cavalo1To: 0%;
    --cavalo2From: 0%;
    --cavalo2To: 0%;
    --cavalo3From: 0%;
    --cavalo3To: 0%;
    --cavalo4From: 0%;
    --cavalo4To: 0%;
    --cavalo5From: 0%;
    --cavalo5To: 0%;
    --cavalo0From: 0%;
    --cavalo0To: 0%;

}

html {
    background-color: brown;
    font-family: 'montserrat';
    color: white;
    margin: 0;
    padding: 0;
}

body {
    width: auto;
}

#corrida {
    width: auto;
    height: auto;
    position: relative;
    border: 2px solid brown;
}

.ceu {
    width: 100%;
    height: 60PX;
    background-color: aqua;
}

.grama {
    width: 100%;
    height: 20PX;
    background-color: green;
}

.cavaloImg0 {
    position: absolute;
    top: 0;
    width: 80px;
    animation-delay: 4000;
    animation: cavalo0 5s linear infinite;
}

.cavaloImg1 {
    position: absolute;
    top: 0;
    width: 80px;
    animation-delay: 4000;
    animation: cavalo1 5s linear infinite;
}

.cavaloImg2 {
    position: absolute;
    top: 0;
    width: 80px;
    animation-delay: 4000;
    animation: cavalo2 5s linear infinite;
}

.cavaloImg3 {
    position: absolute;
    top: 0;
    width: 80px;
    animation-delay: 4000;
    animation: cavalo3 5s linear infinite;
}

.cavaloImg4 {
    position: absolute;
    top: 0;
    width: 80px;
    animation-delay: 4000;
    animation: cavalo4 5s linear infinite;
}

.cavaloImg5 {
    position: absolute;
    top: 0;
    width: 80px;
    animation-delay: 4000;
    animation: cavalo5 5s linear infinite;
}

.divIndex {
    width: 50%;
    margin: auto;
    text-align: center;
}

@keyframes cavalo0 {
    from {
        left: var(--cavalo0From);
    }

    to {
        left: var(--cavalo0To);
    }
}

@keyframes cavalo1 {
    from {
        left: var(--cavalo1From);
    }

    to {
        left: var(--cavalo1To);
    }
}

@keyframes cavalo2 {
    from {
        left: var(--cavalo2From);
    }

    to {
        left: var(--cavalo2To);
    }
}

@keyframes cavalo3 {
    from {
        left: var(--cavalo3From);
    }

    to {
        left: var(--cavalo3To);
    }
}

@keyframes cavalo4 {
    from {
        left: var(--cavalo4From);
    }

    to {
        left: var(--cavalo4To);
    }
}

@keyframes cavalo5 {
    from {
        left: var(--cavalo5From);
    }

    to {
        left: var(--cavalo5To);
    }
}

.divIndex {
    margin: 50px auto 0 auto;
}
button {
    color: brown;
    background-color: rgb(240, 240, 120);
    border: 2px solid brown;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    margin: 10px auto;
    width: 50%;
}
input {
    border-radius: 10px;
    border: none;
    margin: 5px 0;
    padding: 5px;
}

.div_qtd {
    margin: auto;
}
.tabela{
    display: flex;
    flex-direction: column;
}
.linha{
    display: flex;
}
.linha div{
    text-align: center;
    border: solid;
    border-color: black;
    padding: 10px;
    width: 80px;
}

#div_podium {
    display: flex;
}

.div_pedestal {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 33%;
}

#podium {
    display: none;
}
.ranking { 
    width: 70%; 
    height: 460px; 
    margin: 5% auto; 
    border: 2px solid var(--laranja); 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
} 
.tops { 
    width: 100%; 
    margin: 0 auto; 
    height: 100%; 
    position: relative; 
    background-image: url(https://img.freepik.com/vetores-gratis/cena-dentro-do-celeiro_1308-93029.jpg); 
    background-position: center; 
    background-size: cover; 
    font-family: 'Poppins'; 
    color: black; 
    text-align: center; 
     
} 
#nomeP, #nomeS, #nomeT { 
    color: var(--laranja); 
    font-size: 20px; 
    text-shadow: 0 4px 12px black; 
    z-index: 2; 
} 
#nomeP { 
    position: absolute; 
    width: 25%; 
    left: 37.5%; 
    top: 20%; 
} 
#nomeS { 
    position: absolute; 
    width: 25%; 
    left: 12.5%; 
    top: 32.5%; 
} 
#nomeT { 
    position: absolute; 
    width: 25%; 
    left: 62.5%; 
    top: 40%; 
} 
 
#primeiro { 
    position: absolute; 
    bottom: 0; 
    width: 25%; 
    height: 45%; 
    left: 37.5%; 
    background-color: #FEDA16; 
    padding-top: 20px; 
    z-index: 2; 
} 
 
 
#segundo { 
    position: absolute; 
    bottom: 0; 
    width: 25%; 
    height: 35%; 
    left: 12.5%; 
    background-color: #A7B1CA; 
    padding-top: 20px;   
    z-index: 1; 
} 
 
#terceiro { 
    position: absolute; 
    bottom: 0; 
    width: 25%; 
    height: 25%; 
    left: 62.5%; 
    background-color: #D89143; 
    padding-top: 20px; 
    z-index: 1; 
} 
.sec { 
    position: absolute; 
    font-family: 'Montserrat'; 
    font-weight: 900; 
    bottom: 40px; 
    text-align: center; 
    width: 100%; 
} 
 
.lista { 
    width: 50%; 
    height: 100%; 
} 
 
#div_msg {
    text-align: center;
    font-weight: bold;
}

#topum { 
    width: 100px; 
    position: absolute; 
    top: 160px; 
    left: 480px; 
    z-index: 5; 
} 
#topdois { 
    width: 100px; 
    position: absolute; 
    top: 200px; 
    left: 210px; 
    z-index: 5; 
} 
#topter { 
    width: 150px; 
    position: absolute; 
    top: 230px; 
    left: 730px; 
    z-index: 5; 
}

#btnPodium {
    display: none;
}