@font-face {
    font-family: 'Stardew';
    src: url(../font/Stardew-Valley-All-Caps.ttf);
}
@font-face {
    font-family: 'padrao';
    src: url(../font/StardewValley.otf);
}

html {
    font-family: 'padrao';
}

/* tela de inicio */
#tela_inicio {
    background-image: url(../img/fundo_inicio.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}
#campos_inicio {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
}
#campos_inicio h1 {
    font-family: 'Stardew';
    color: #E0A100;
    font-weight: bolder;
    font-size: 80px;
    text-shadow: 0 0 10px black;
}
#campos_inicio button {
    width: 30%;
    margin: 100px auto 0 auto;
    background-color: #FFBC6E;
    border: 10px solid #AF5B14;
    font-family: 'padrao';
    font-size: 50px;
    cursor: pointer;
}

/* perguntas */
#quest {
    display: none;
    padding-top: 200px;
}
#campos_quest {
    width: 30%;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #FFBC6E;
    border: 10px solid #AF5B14;
    font-size: 30px;
    text-transform: uppercase;

}
#campos_quest input {
    width: 50%;
    margin: auto;
    border: 10px solid #AF5B14;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: #d69d5b;
    font-family: 'padrao';
    font-size: 30px;
    text-align: center;
    transition: .3s;
    outline: none;
}
#campos_quest button {
    width: 50%;
    margin: auto;
    border: 10px solid #AF5B14;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: #d69d5b;
    font-family: 'padrao';
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    transition: .3s;
}
#campos_quest input:focus {
    transform: scale(1.05);
    transition: .3s;
}
#campos_quest button:hover {
    transform: scale(1.05);
    transition: .3s;
}