.root {
    --cavalo1From: 0%;
    --cavalo1To: 0%;
    --cavalo2From: 0%;
    --cavalo2To: 0%;
    --cavalo3From: 0%;
    --cavalo3To: 0%;
    --cavalo4From: 0%;
    --cavalo4To: 0%;
    --cavalo5From: 0%;
    --cavalo5To: 0%;
    --cavalo0From: 0%;
    --cavalo0To: 0%;
}


@font-face {
    font-family: 'Stardew';
    src: url(../font/Stardew-Valley-All-Caps.ttf);
}

@font-face {
    font-family: 'padrao';
    src: url(../font/StardewValley.otf);
}

html {
    font-family: 'padrao';
}

h2{
    margin: 0;  
}

.ipts {
    width: 50%;
    margin: auto;
    border: 10px solid #AF5B14;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: #d69d5b;
    font-family: 'padrao';
    font-size: 30px;
    text-align: center;
    transition: .3s;
    outline: none;
}

.ipts:focus {
    transform: scale(1.05);
    transition: .3s;
}

.btns {
    width: 50%;
    margin: 10px auto;
    border: 10px solid #AF5B14;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: #d69d5b;
    font-family: 'padrao';
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    transition: .3s;
}

.btns:hover {
    transform: scale(1.05);
    transition: .3s;
}

/* tela de inicio */
#tela_inicio {
    background-image: url(../img/fundo_inicio.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

#campos_inicio {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
}

#campos_inicio h1 {
    font-family: 'Stardew';
    color: #E0A100;
    font-weight: bolder;
    font-size: 80px;
    text-shadow: 0 0 10px black;
}

#campos_inicio button {
    width: 30%;
    margin: 100px auto 0 auto;
    background-color: #FFBC6E;
    border: 10px solid #AF5B14;
    font-family: 'padrao';
    font-size: 50px;
    cursor: pointer;
}

/* perguntas */
#quest {
    display: none;
    padding-top: 200px;
}

#campos_quest {
    width: 30%;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #FFBC6E;
    border: 10px solid #AF5B14;
    font-size: 30px;
    text-transform: uppercase;

}

/* nome cavalos */
#nomeCavalos {
    text-align: center;
    display: none;
    padding-top: 100px;
}

.space {
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: 0 auto;
}

#campo_nomes {
    width: 30%;
    height: 100%;
    padding: 20px 0;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #FFBC6E;
    border: 10px solid #AF5B14;
    font-size: 30px;
    text-transform: uppercase;
}


#campo_cavalos {
    width: 40%;
    height: auto;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    background-color: #FFBC6E;
    border: 10px solid #AF5B14;
    font-size: 30px;
    text-transform: uppercase;
}

#cavalos {
    width: 40%;
}

#nomes {
    width: 50%;

}

.cavaloImg {
    width: 80px;
}

.cavaloNome {
    padding-bottom: 7px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#aguardeMsg {
    display: none;
    font-size: 30px;
    text-transform: uppercase;
}




/* div corrida */
#div_corrida {
    display: none;
    background-image: url(../img/fundo_madeira.png);
    background-position: center;
    background-size: cover;
    width: 90%;
    width: auto;
    height: 150vh;
    padding-top: 10px;

}

#div_msg {
    width: 30%;
    text-align: center;
    margin: 20px auto 30px auto;
    padding: 20px;
    font-size: 30px;
    background-color: #FFBC6E;
    border: 10px solid #6e3507;

}
#divHistorico {
    width: 50%;
    text-align: center;
    margin: 20px auto 30px auto;
    padding: 20px;
    font-size: 30px;
    background-color: #FFBC6E;
    border: 10px solid #6e3507;
}
#cavalos_correndo {
    background-image: url(../img/fundo_grama.png);
    background-position: center;
    background-size: cover;
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    border: 10px solid #6e3507;
}

#cavalos_correndo span {
    position: relative;
    left: 10%;
    color: rgba(255, 255, 255, 0.35);
    font-size: 80px;
}

.cavaloImgCorrida {
    position: relative;
    top: 0;
    width: 80px;
    z-index: 10;
}

.cavaloAnimacao0 {
    animation: cavalo0 5s linear infinite;
}

.cavaloAnimacao1 {
    animation: cavalo1 5s linear infinite;
}

.cavaloAnimacao2 {
    animation: cavalo2 5s linear infinite;
}

.cavaloAnimacao3 {
    animation: cavalo3 5s linear infinite;
}

.cavaloAnimacao4 {
    animation: cavalo4 5s linear infinite;
}

.cavaloAnimacao5 {
    animation: cavalo5 5s linear infinite;
}

@keyframes cavalo0 {
    from {
        left: var(--cavalo0From);
    }

    to {
        left: var(--cavalo0To);
    }
}

@keyframes cavalo1 {
    from {
        left: var(--cavalo1From);
    }

    to {
        left: var(--cavalo1To);
    }
}

@keyframes cavalo2 {
    from {
        left: var(--cavalo2From);
    }

    to {
        left: var(--cavalo2To);
    }
}

@keyframes cavalo3 {
    from {
        left: var(--cavalo3From);
    }

    to {
        left: var(--cavalo3To);
    }
}

@keyframes cavalo4 {
    from {
        left: var(--cavalo4From);
    }

    to {
        left: var(--cavalo4To);
    }
}

@keyframes cavalo5 {
    from {
        left: var(--cavalo5From);
    }

    to {
        left: var(--cavalo5To);
    }
}


/* historico */



/* podium */


#div_podio {
    display: none;
    width: 100%;
    height: 90vh;
    background-image: url(../img/fundo_madeira.png);
    background-position: center;
    background-size: cover;
    padding-top: 10vh;
}
#div_ranking {
    width: 80%;
    height: 80%;
    background-color: #FFBC6E;
    margin: 0 auto;
    border: 10px solid #6e3507;
    position: relative;
}

#confete{
    width: 100%;
    height: 90%;
}

.infoPodium {
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
}
.infoPodium img{
    width: 20%;
}
#topUm {
    position: absolute;
    bottom: 0%;
    width: 25%;
    height: 55%;
    left: 37.5%;
    background-color: #ecf027;
    padding-top: 20px;
    z-index: 2;
    border: black solid 1px;
}
#cvlUm {
    position: absolute;
    bottom: 57.5%;
    width: 10%;
    left: 46%;
    z-index: 2;
}
#topDois {
    position: absolute;
    bottom: 0%;
    width: 25%;
    height: 40%;
    left: 12.5%;
    background-color: #d3c8bc;
    padding-top: 20px;  
    z-index: 1;
    border: black solid 1px;
}
#cvlDois {
    position: absolute;
    bottom: 40%;
    width: 10%;
    left: 20%;
    z-index: 2;
}
#topTres {
    position: absolute;
    bottom: 0%;
    width: 25%;
    height: 30%;
    left: 62.5%;
    background-color: #D89143;
    padding-top: 20px;
    z-index: 1;
    border: black solid 1px;
}
#cvlTres {
    position: absolute;
    bottom: 28%;
    width: 10%;
    left: 70%;
    z-index: 2;
}

#buttonReiniciar{
    text-align: center;
}
#div_podio{
    text-align: center;
}

#buttonPodio {
    display: none;
    width: 20%;
    margin: 10px auto;
    border: 10px solid #6e3507;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: #FFBC6E;
    font-family: 'padrao';
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    transition: .3s;
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttonPodio:hover {
    transform: scale(1.05);
    transition: .3s;
}


#btnPodio {
    display: none;
}
#btnPodio, #btnReiniciar {
    width: 20%;
    margin: 10px auto;
    border: 10px solid #6e3507;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: #FFBC6E;
    font-family: 'padrao';
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    transition: .3s;
    margin: 20px auto 0 auto;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

#btnPodio:hover, #btnReiniciar:hover {
    transform: scale(1.05);
    transition: .3s;
}


/* #nomeTres {
    position: absolute;
    text-align: center;
    bottom: 40%;
    width: 20%;
    left: 65%;
    z-index: 2;
    font-size: 30px;
} */
